@using Microsoft.Ajax.Utilities
@using ParsekPublicHealthNurseInformationSystem.ViewModels
@model ParsekPublicHealthNurseInformationSystem.ViewModels.WorkOrderVisitTypeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Nov delovni nalog</h2>

    @using (Html.BeginForm("CreateWorkOrder", "WorkOrder"))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedActivityId, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(
                model => model.SelectedActivityId,
                new SelectList(Model.Activities, "ActivityId", "ActivityTitle"),
                "-- Izberi --",
                htmlAttributes: new { @class = "form-control dropdown" })
                @Html.ValidationMessageFor(model => model.SelectedActivityId, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Naprej" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
