@using Microsoft.Ajax.Utilities
@using ParsekPublicHealthNurseInformationSystem.ViewModels
@model ParsekPublicHealthNurseInformationSystem.ViewModels.WorkOrderViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div>
    @Html.ActionLink("Create new work order", "CreateWorkOrder", "WorkOrder")
</div>

<div>
    @Html.ActionLink("Back to home", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
