<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b4da94e1-d34a-4f7e-a654-c5ac25c12c26/resourcegroups/ParsekPublicHealthNurseInformationSystem/providers/Microsoft.Web/sites/ParsekPublicHealthNurseInformationSystem</ResourceId>
    <ResourceGroup>ParsekPublicHealthNurseInformationSystem</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://parsekpublichealthnurseinformationsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>parsekpublichealthnurseinformationsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ParsekPublicHealthNurseInformationSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ParsekPublicHealthNurseInformationSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EntityDataModel" Order="1" Enabled="True">
          <Destination Path="Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ParsekPublicHealthNurseInformationSystem.Models.EntityDataModel, ParsekPublicHealthNurseInformationSystem" MigrationConfiguration="ParsekPublicHealthNurseInformationSystem.Migrations.Configuration, ParsekPublicHealthNurseInformationSystem" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>data source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;initial catalog=ParsekPublicHealthNurseInformationSystem_db;integrated security=False;user id=system_admin;password=QWEqwe123;connect timeout=15;encrypt=True;trustservercertificate=False;applicationintent=ReadWrite;multisubnetfailover=False;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;User Id=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;User Id=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=********;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=********;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;User Id=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=parsekpublichealthnurseinformationsystemdbserver.database.windows.net;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Integrated Security=False;User ID=system_admin;Password=QWEqwe123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;User Id=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Persist Security Info=True;User ID=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Persist Security Info=True;User ID=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=master;Persist Security Info=True;User ID=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;Persist Security Info=True;User ID=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;User Id=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EntityDataModel-Web.config Connection String">
      <ParameterValue>Data Source=tcp:parsekpublichealthnurseinformationsystemdbserver.database.windows.net,1433;Initial Catalog=ParsekPublicHealthNurseInformationSystem_db;User Id=system_admin@parsekpublichealthnurseinformationsystemdbserver;Password=QWEqwe123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>